<!-- external files are loaded via wrap defaults -->
<!--<link rel='stylesheet' href='/assets/page-upload/dropzone.css'  />-->

<form action="/upload" class="dropzone">
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>
</form>

<!--<script src="/assets/page-upload/dropzone.js"></script>-->

